header {
	margin: -10px;
	margin-bottom: 0px;
	height: 250px;
	padding:20px;
	color: white;
	background-color: rgba(0,0,0,0.7);
}

body {
	background-image: url(Images/background.jpg);
}
p.tHead {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	text-shadow: -4 px 0 #FFA07A;
	font-size: 100px;
}
p.bHead {
	margin-top: 5px;
	margin-bottom: -10px;
	text-shadow: -4 px 0 #FFA07A;
	font-size: 40px;
}
div.lHead {
  float: left;
  margin: 40px;
  margin-left: 220px;
}
div.rHead {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin: 40px;
  margin-right: 220px;
  width: 30%;
  float: right;
  color: rgba(36,36,36);
  padding:20px;
  text-align: right;
  font-size:25px;
  line-height: 1.8;
  letter-spacing: 5px;
  font-style: italic;
  
}
div.mainDiv main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}


div.centerDiv {
	padding: 40px;
	min-height: 300px;
	width: 60%;
	background-color: white;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
div.trio {
	margin: 2%;
	margin-bottom: 40px;
	height: 300px;
	width: 29%;
	display: inline-block;
	background-color: rgba(0,0,0,0.2);
	font-size:30px;
	text-align: center;
	font-weight: bolder;
}
.trio:hover {
	transform: scale(1.2);
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
div.text {
	font-size:20px;
	margin: 20px;
	margin-top: 0px;
	text-align: justify;
}

footer {
	margin: -10px;
	margin-top: 0px;
	height: 100px;
	background-color: rgba(0,0,0,0.6);
}

#link-img {
	padding-top: 20px;
	padding-left: 15px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}
#trio-img {
	width: 200px;
	height: 200px;
	margin-top: 30px;
	margin-bottom: 10px;
}
